@media screen and (min-width: 480px) {

    .container {
        max-width: 428px;
    }

    .menu-container.is-open .contact-phone {
        font-size: 36px;
    }

    .menu-container.is-open .team-social-list {

        gap: 56px;
    }

    .hero-title {
        font-size: 36px;
        line-height: 1.11;
        width: 320px;
    }

    .modal {
        width: 408px;
    }
}

@media screen and (min-width: 429px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-tab-min.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto auto;
        background-color: rgba(46, 47, 66, 0.7);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-tab-2x-min.jpg);
        }
    }
}