@media screen and (min-width: 480px) {

    .container {
        max-width: 428px;
    }

    .menu-container.is-open .contact-phone {
        font-size: 36px;
    }

    .menu-container.is-open {
        padding-left: 40px;
    }

    .header-social-list {
        gap: 56px;
    }

}