:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #404bbf;
  --primary-white-color: #ffffff;
  --secondary-white-color: #e7e9fc;
  --title-btn-color: #4d5ae5;
  --grey-bg-color: #f4f4fd;
  --secondary-font: "Raleway", sans-serif;

  --padding-top-bottom-section: 120px;
  --padding-top-bottom-section-mobile: 96px;
  --padding-right-left-section: 156px;
  --padding-card-top-bottom: 32px;
  --padding-card-left-right: 16px;
  --padding-header: 24px;
  --margin-container-top: 72px;
  --margin-p-top: 8px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  display: block;
}

.section {
  padding: var(--padding-top-bottom-section-mobile) 0;
}

/* .container {
  max-width: calc(1128px + 15px + 15px);
  padding: 0 15px;
  margin: 0 auto;
} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* @media screen and (min-width: 320px),
(max-width: 479px) {

  .container {
    max-width: 320;
    padding-left: 8px;
    padding-right: 8px;
  }
} */


/* @media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
  }
} */



/* @media screen and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
} */




body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  background-color: var(--primary-white-color);
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------   Studio   ------------------------------- */
/* Header */

.header {
  display: block;


  border-bottom: 1px solid var(--secondary-white-color);
  padding-top: 24px;
  padding-bottom: 22px;
  position: relative;
}

/* .header-container {
    /* display: flex; 
  }

  repo7

  .header-nav {
    /* display: flex; 
  }

  .header-nav .link:hover,
  .header-nav .link:focus {
    /* color: var(--accent-color); 
  } */

.mobile-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  color: var(--title-btn-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-logo-black {
  color: var(--title-text-color);
}


.menu-container {
  display: none;
}

.menu-container.is-open {
  display: block;
}

.menu-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding: 0;
}

.menu-btn.is-open {
  padding-right: 8px;
}

.menu-btn-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn-icon {
  width: 100%;
  height: 100%;
}

.menu-btn .i-close-button {
  display: none;
}

.menu-btn.is-open .i-close-button {
  display: block;
  overflow: visible;
}

.menu-btn.is-open .i-menu {
  display: none;
}

.menu-btn.is-open .menu-btn-thumb {
  fill: var(--title-text-color);
  border: 1px solid var(--secondary-white-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 8px;
}

.menu-btn.is-open+.logo-thumb {
  display: none;
}

.menu-container.is-open {
  margin-top: 32px;
  margin-bottom: 16px;
  /* padding-left: 40px; */
}

.menu-container.is-open .contacts {
  margin-top: 284px;
  margin-left: 0;
}


.menu-container.is-open .header-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-container.is-open .header-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* color: var(--title-text-color); */
  padding: 0;
}

/* .menu-container.is-open .header-link:nth-child(1) {
  color: var(--title-text-color);
} */

/* .menu-container.is-open .header-link:nth-child(3) {
  color: var(--accent-color);
} */

/* .menu-container.is-open .menu-current {
  color: var(--accent-color);
} */

.menu-container.is-open .current::after {
  display: none;
}

.contact-nav {
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.menu-container.is-open .contact-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* color: var(--primary-text-color); */

  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}



.menu-container {
  /* display: flex; */
}

/* .menu-container.is-open .header-list .link:is(:hover, :focus) {
  color: var(--accent-color);
} */


.header-list {
  /* display: flex; */
  /* column-gap: 40px; */
  /* margin-left: 76px; */
}

.header-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 24px 0;

  position: relative;
  transition-property: color;

  d
}

.adress {
  /* margin-left: auto; */
}

.contact-link {
  color: var(--primary-text-color);
}

/* 
  .contact-nav .link:hover,
  .contact-nav .link:focus {
    color: var(--accent-color);
  } */






.menu-container.is-open .contact-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-btn-color);
}






/* .menu-container.is-open .header-list .link:is(:hover, :focus),
.menu-container.is-open .contact-link:is(:hover, :focus) {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-btn-color);
} */


.contact-phone {}

.current {
  color: var(--accent-color);
}

.menu-container.is-open .current {
  color: var(--title-text-color);
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border-bottom: solid var(--accent-color);
  background: var(--accent-color);
  position: absolute;
  left: 0px;
  bottom: -4px;
}

.social-list {
  display: none;
}

.menu-container.is-open .social-list {
  display: block;
}


.header-social-list {
  display: flex;
  gap: 56px;
  margin-top: 48px;
}


.header-social-item {
  width: 40px;
  height: 40px;
}

.header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--title-btn-color);

  transition-property: background-color;
}

.header-social-link:hover,
.header-social-link:focus {
  background-color: var(--accent-color);
}

.header-social-icon {
  fill: var(--grey-bg-color);
}


/* -------------------------------/ Header -------------------------- */

/* --------------------------------- Hero --------------------------- */

.hero {
  padding: 112px 0;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/heroImage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
  background-color: rgba(46, 47, 66, 0.7);
}

.hero-title {
  font-weight: 700;
  color: var(--primary-white-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;

  font-size: 36px;
  line-height: 1.11;
  width: 320px;
  text-transform: capitalize;
}

.hero-btn {
  font-family: inherit;
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  min-width: 169px;
  min-height: 56px;
  background: var(--title-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: block;
  margin: 48px auto 0;

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-active:hover,
.hero-btn-active:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/* -----------------/ Hero --------------------- */

/* -------------- Section 1 Description -------- */

.feature-item {
  margin-top: 72px;
}

.feature-item:nth-child(1) {
  margin-top: 0;
}

.feature-svg {
  display: none;
}

.descr-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.descr-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  margin-top: var(--margin-p-top);

  letter-spacing: 0.02em;
}

/* -------------------/ Section 1 Description -------------------- */

/* -------------------- Section 2 What are we doing --------------  */


.section-we-doing {
  display: none;
}

/* -------------- /Section 2 What are we doing -------------- */

/* -------------------- Section 3 Our Team ------------------ */


.section-our-team {
  background: var(--grey-bg-color);
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--title-text-color);

  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: column;
}

.team-card {

  margin-top: 72px;
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);

  /* width: calc((100% - (3 * 24px)) / 4); */
}

.team-card-content {
  padding: var(--padding-card-top-bottom) var(--padding-card-left-right);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);

  margin-top: var(--margin-p-top);
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--title-btn-color);

  transition-property: background-color;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-icon {
  fill: var(--grey-bg-color);
}

/* ---------------- /Section 3 Our Team ---------------- */

/* ---------------- Section 4 Customers ---------------- */


.section-customers {
  /* padding: 0; */
  /* padding: 130px 0 var(--padding-top-bottom-section); */
}

.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--title-text-color);
  text-align: center;
}

.customers-list {
  /* margin-top: var(--margin-container-top); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  /* column-gap: 24px; */
}

.customers-item {

  margin-top: var(--margin-container-top);
  width: calc((100% - 16px)/2);

  max-width: 190px;
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;

  transition-property: border, fill;
}

.customers-link:is(:hover, :focus) {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.customers-icon {}

/* ------------------------ /Section 4 Customers ------*/
/* ---------------------------   /Studio   -------------------------- */

/* ----------------------------   Footer   -------------------------- */


.footer {
  background-color: var(--title-text-color);

  padding-top: var(--padding-top-bottom-section-mobile);
  padding-bottom: var(--padding-top-bottom-section-mobile);


  /* padding: 100px 0; */
}

.footer-container {
  /* margin: 0 auto; */


  /* max-width: 428px; */
}

.footer-logo {
  max-width: 268px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 0 auto;



  /* margin: 0; */
}

.footer-logo-thumb {
  display: block;
  margin: 0 auto;
}

.footer-logo-white {
  color: var(--grey-bg-color);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-white-color);



  margin-top: 16px;
  display: block;
}



/*------------ footer-social-media */

.footer-social-media {
  /* margin-left: 120px; */
  /* max-width: 208px; */
}

.footer-social-title {


  display: flex;
  justify-content: center;
  margin-top: 72px;
  /* margin-left: auto; */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;



  column-gap: 16px;
  margin-top: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--grey-bg-color);
  transition-property: background-color;
}

.footer-social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-social-icon {}

/* ------------------------Footer Subscribe */

.footer-subscribe {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-top: 72px;

  /* margin-left: 80px; */
  /* max-width: 453px; */
}

.footer-label {

  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.footer-label-wrap {
  margin-top: 16px;
  position: relative;
}

.footer-form-input {
  /* min-width: 264px; */
  /* display: flex; */
  /* justify-content: center; */




  width: 100%;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

.subscribe-btn {

  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  position: relative;



  font-family: inherit;
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 165px;
  max-height: 40px;
  background: var(--title-btn-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: block;

  padding-left: 24px;
  text-align: left;

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer-subscribe-icon {
  fill: var(--primary-white-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}


/* -------------------   /Footer   --------------------*/

/* --------------------   Portfolio   -----------------*/

/* Content */
.content {
  padding: 0;
  padding-top: 96px;
  padding-bottom: var(--padding-top-bottom-section);
}

.filter-container {
  display: block;
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--title-btn-color);
  background-color: var(--grey-bg-color);

  display: block;
  border: 1px solid var(--secondary-white-color);
  border-radius: 4px;
  padding: 12px var(--padding-header);

  transition-property: color, background-color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn-active:hover,
.filter-btn-active:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.content-container {
  margin-top: var(--margin-container-top);
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.project-card {
  width: calc((100% - (2 * 24px)) / 3);
}

.project-card-link {
  display: block;
  background: var(--primary-white-color);

  transition-property: box-shadow;
}

.project-card-link:hover,
.project-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-wrap {
  position: relative;
  overflow: hidden;
}

.project-card-text-overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey-bg-color);
  padding: 40px 32px;
  background-color: var(--title-btn-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.project-card-link:is(:hover, :focus) .project-card-text-overlay {
  transform: translateY(0);
}

.project-card-content {
  padding: var(--padding-card-top-bottom) var(--padding-card-left-right);
  border: 1px solid var(--secondary-white-color);
  border-top: transparent;
}

.content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  margin-top: var(--margin-p-top);
}

/* /Content */
/*  ----------------  /Portfolio  ------------------- */

/*  ------------------   Modal  ------------------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;

  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 586px;
  padding: 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.btn-modal-close {
  width: 24px;
  height: 24px;

  background-color: var(--secondary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:is(:hover, :focus) {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.btn-modal-close-icon {
  width: 8px;
  height: 8px;
  background-color: var(--secondary---white-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-top: 24px;
}

.modal-form {
  margin-top: 16px;
}

.form {}

/* modal input  */
.modal-form-label {
  position: relative;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8E8F99;

  display: block;
  margin-top: 8px;
}

.modal-form-label:nth-child(1) {
  margin-top: 0;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-within {
  color: var(--title-btn-color);
  outline: transparent;

  border: 1px solid var(--title-btn-color);
}

.form-icon-position {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-label .form-icon {
  width: 18px;
  height: 24px;

  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-within+.form-icon {
  fill: var(--title-btn-color);
}

.modal-form-input:focus-within:not(:placeholder-shown) {
  color: var(--title-text-color);
}

/* modal-textarea */
.modal-form-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 6px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--title-text-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus-within {
  outline: transparent;
  border: 1px solid var(--title-btn-color);
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus-within::placeholder {
  color: var(--title-btn-color);
}

/* Modal checkbox */
.modal-input-group-checkbox {
  display: flex;
  margin-top: 16px;
}

.label-checkbox {
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.checkbox-icon {
  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: transparent;

  border: 1px solid var(--title-text-color);
  border-radius: 2px;

  transition-property: background-color, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked+.label-checkbox .checkbox-icon {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  fill: var(--grey-bg-color);
}

.checkbox-text {
  margin-left: 8px;
}

.modal-checkbox-text-ref {
  color: var(--accent-color);
  text-decoration: underline;
}

/* Modal btn */
.modal-send-btn {
  display: block;
  padding: 16px 32px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 169px;
  height: 56px;
  background-color: var(--title-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;

  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--accent-color);
}

/* -------------- /Modal --------------- */