@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }

    /* header */

    .header {
        padding-bottom: 18px;
    }

    .menu-btn {
        display: none;
    }

    .header-container {
        /* display: flex; */
    }

    .header-nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .header-nav .link:hover,
    .header-nav .link:focus {
        color: var(--accent-color);
    }

    .menu-container {
        display: flex;
        margin-left: 120px;
    }

    .header-list {
        display: flex;
        column-gap: 40px;
    }

    .contacts {
        margin-left: 118px;
    }

    .contact-nav {
        font-style: normal;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
    }

    .contact-phone {
        margin-top: 4px;
    }








    /* hero */

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        width: 500px;

        text-transform: none;
    }



    /* -------------- Section 1 Description -------- */

    .descr-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .feature-item {
        margin-top: 0;
        width: calc((100% - (24px)) / 2);
        max-width: 356px;
    }

    .descr-title {
        text-align: initial;
    }


    /* ------------------- Section 3 Our Team ------------- */

    .tablet-container {
        padding-left: 108px;
        padding-right: 108px;
    }

    .team-list {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
    }


    /* -------------- Section 4 Customers --------------- */

    .customers-list {

        column-gap: 24px;
    }

    .customers-item {

        width: calc((100% - (24px * 2))/3);

        max-width: 168px;
        height: 88px;
    }







    /* ------------------------ footer --------------------- */

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .footer-logo {
        margin: 0;
    }

    .footer-logo-thumb {
        margin: 0;
    }

    .footer-text {
        max-width: 264px;
    }

    /*------------ footer-social-media */

    .footer-social-title {
        margin-top: 0;
    }

    /* ------------------------Footer Subscribe */

    .footer-label {
        text-align: initial;
    }

    .footer-label-wrap {
        display: flex;
    }

    .footer-form-input {
        min-width: 264px;
        display: flex;
        justify-content: center;
    }

    .subscribe-btn {
        margin-top: 0;
        margin-left: 24px;
    }

}